<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title>Product list</mat-card-title>
    <a href="/product/add" routerLink="/product/add" mat-raised-button color="primary" class="add-btn">
      Add product
    </a>
  </mat-card-header>

  <mat-selection-list>

    <mat-list-option *ngFor="let product of productService.products$ | async">
      <a href="{{'/product/' + product.id}}" routerLink="{{'/product/' + product.id}}">
        {{product.name}}
      </a>
    </mat-list-option>

    <p *ngIf="(productService.products$ | async)?.length === 0">Please add some products.</p>
  </mat-selection-list>

</mat-card>